<!-- Page Content -->
<app-post *ngIf="auth.loggedIn()"></app-post>
<div class="container">
  <div class="row text-center text-lg-left mt-5">
    <div *ngFor="let post of posts" class="col-lg-3 col-md-4 col-6 posts mb-4">
      <a [routerLink]="'/detail/' + post._id" class="d-block h-100">
        <img
          class="img-fluid img-thumbnail post-img"
          [src]="'http://invincible-backend.herokuapp.com/api/' + post.imagePath"
          alt=""
        />
      </a>
    </div>
  </div>
</div>
