<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto">
      <form
        class="my-4"
        [formGroup]="myForm"
        enctype="multipart/form-data"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group">
          <textarea
            [ngClass]="{ 'is-invalid': submitted && f.caption.errors }"
            class="form-control"
            name="caption"
            id="caption"
            formControlName="caption"
            placeholder="Add a post, hashtags are extracted"
          ></textarea>
          <div *ngIf="submitted && f.caption.errors" class="invalid-feedback">
            <div *ngIf="f.caption.errors.required">
              A post description is required
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="form-group col-lg-4">
            <input
              type="file"
              name="upload"
              id="upload"
              accept="image/*"
              (change)="onFileSelect($event)"
            />
            <label for="upload" class="rounded">
              <i class="material-icons">add_photo_alternate</i> &nbsp;
              {{ filename.substring(0, 15) }}</label
            >
          </div>
          <div class="col-lg-3">
            <input
              type="submit"
              value="Post"
              class="btn btn-secondary btn-block"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
