<div class="container">
  <div class="row">
    <div class="col-md-10 m-auto">
      <div
        *ngIf="deletedPostMessage"
        class="card text-white bg-danger my-5 py-4 text-center"
      >
        <div class="card-body">
          <p class="text-white m-0">
            {{ deletedPostMessage }}
          </p>
        </div>
      </div>
      <div *ngIf="post" class="row align-items-center">
        <div class="col-lg-4 order-lg-1">
          <div class="p-4">
            <img
              class="img-fluid"
              [src]="apiUrl + '/api/' + post.imagePath"
              alt=""
            />
          </div>
        </div>
        <div class="col-lg-8 order-lg-2">
          <div class="p-5">
            <h6>{{ post.caption }}</h6>
            <p>
              <a
                routerLink="/search"
                [queryParams]="{ q: post.hashtag.slice(1) }"
                >{{ post.hashtag }}</a
              >
            </p>
            <div></div>
            <p *ngIf="auth.loggedIn()">
              <a [routerLink]="'/profile/' + post.user.userId"
                >{{ post.user.username }}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="post && auth.loggedIn()">
  <app-comment [postId]="postId" [comments]="post.comments"></app-comment>
</div>
