<html lang="en">


  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-custom bg fixed" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Crayon Shin-chan</span>
        <span class="d-none d-lg-block">
          <img
            class="img-fluid img-profile rounded-circle mx-auto mb-2"
            src="assets/images.jpg"
            alt=""
          />
        </span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">
      <section
        class="resume-section p-3 p-lg-5 d-flex align-items-center"
        id="about"
      >
        <div class="w-100">
          <h2 class="mb-0">
            Crayon
            <span class="text-dark">Shin-chan</span>
          </h2>
          <div class="subheading mb-5">
            47057 E.g. Street · Duisburg, (317) 585-8468
            <a href="mailto:name@email.com">name@email.com</a>
          </div>
          <p class="lead mb-5">
              Platform where students can come together, share their experiences and make their study life more colorful and entertaining.
          </p>
          <div class="social-icons">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="#">
              <i class="fab fa-github"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
