<footer>
  <div class="container-fluid">
    <div class="row">
      <!--<div class="col-6 text-muted">
        Angular documentation can be found
        <a href="https://angular.io/docs">here</a>.
      </div>-->

      <div class="col-6">
        <div class="row justify-content-end">
          <div class="col-auto">
            <a href="#">Facebook</a>
            <a class="mx-3" href="#">Twitter</a>
            <a href="#">GitHub</a>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-auto">
            <p class="copyright text-muted">
              Copyright &copy;
              <span class="text-danger"> {{groupName}} </span> 2019
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
